
.vechicles {

    &__page-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    &__page-body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }
    & {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    
    &__page-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__pagination-info {
        color: #29314899;
        font-size: 16px;
    }
    
    &__search {
        display: flex;
        gap: 32px;
    }
    
    
    &__add-button {
        color: white;
        background: #D90E32;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 8px 16px;
        border: navajowhite;
        border-radius: 10px;
        cursor: pointer;
    }
    
    &__pagination-setting {
        display: flex;
        gap: 16px;
        align-items: center;
    }
    
    &__pagination-button {
        border: none;
        background: none;
        font-size: 16px;
        cursor: pointer;
    }
    
    &__pagination-input {
        width: 48px;
    }
}